In [1]:
import pandas as pd
import os

In [2]:
# Let's load the data for the first time
df = pd.read_pickle(os.path.join('data_frame.pickle'))

In [4]:
# Demo 1
df.artist

artists = df['artist']
pd.unique(artists)
len(pd.unique(artists))

3336

In [13]:
# Demo 2
s = df['artist'] == 'Bacon, Francis'
s.value_counts()

# Another way
artist_counts = df['artist'].value_counts()
artist_counts
artist_counts['Bacon, Francis']

50

In [14]:
# Demo 3

In [15]:
df.loc[1035, 'artist']

'Blake, Robert'

In [16]:
df.iloc[0, 0]

'Blake, Robert'

In [18]:
df.iloc[0, :]

'394'

In [19]:
df.iloc[0:2, 0:2]

             artist                                              title
id
1035  Blake, Robert  A Figure Bowing before a Seated Old Man with h...
1036  Blake, Robert  Two Drawings of Frightened Figures, Probably f...

In [20]:
# Try Multiplication

In [24]:
df['height'] * df['width']

TypeError: can't multiply sequence by non-int of type 'float'

In [25]:
df['width'].sort_values().head()

id
20822            (1):
105337    (diameter):
98671         (each):
76420         (each):
91391        (image):
Name: width, dtype: object

In [26]:
df['width'].sort_values().tail()

id
121283    NaN
117863    NaN
120549    NaN
122900    NaN
112306    NaN
Name: width, dtype: object

In [27]:
# Try to convert

In [28]:
pd.to_numeric(df['width'])

ValueError: Unable to parse string "(upper):" at position 1839

In [29]:
# Force NaNs (i.e when pandas fails to convert a value to a number, it should be changed to NaN)

In [30]:
pd.to_numeric(df['width'], errors='coerce')
df.loc[:, 'width'] = pd.to_numeric(df['width'], errors='coerce')

pd.to_numeric(df['height'], errors='coerce')
df.loc[:, 'height'] = pd.to_numeric(df['height'], errors='coerce')

df['height'] * df['width']

id
1035      165086.0
1036       66243.0
1037      160181.0
1038      125292.0
1039       81405.0
            ...
122960     93025.0
122961     93025.0
121181    108450.0
112306         NaN
127035    335280.0
Length: 69201, dtype: float64

In [32]:
df['width']

id
1035      394.0
1036      311.0
1037      343.0
1038      318.0
1039      243.0
          ...
122960    305.0
122961    305.0
121181     45.0
112306      NaN
127035    508.0
Name: width, Length: 69201, dtype: float64

In [33]:
df['height']

id
1035       419.0
1036       213.0
1037       467.0
1038       394.0
1039       335.0
           ...
122960     305.0
122961     305.0
121181    2410.0
112306       NaN
127035     660.0
Name: height, Length: 69201, dtype: float64

In [34]:
df['units'].value_counts()

mm    65860
Name: units, dtype: int64

In [35]:
# Assign - create new columns with size

In [36]:
area = df['height'] * df['width']

In [37]:
df = df.assign(area=area)

In [38]:
df['area']

id
1035      165086.0
1036       66243.0
1037      160181.0
1038      125292.0
1039       81405.0
            ...
122960     93025.0
122961     93025.0
121181    108450.0
112306         NaN
127035    335280.0
Name: area, Length: 69201, dtype: float64

In [39]:
df['area'].max()

132462000.0

In [40]:
df['area'].idxmax()

98367

In [41]:
df.loc[98367, 'area']

132462000.0

In [42]:
df.loc[df['area'].idxmax(), :]

artist                               Therrien, Robert
title                No Title (Table and Four Chairs)
medium             Aluminium, steel, wood and plastic
year                                           2003.0
acquisitionYear                                2008.0
width                                          8920.0
height                                        14850.0
units                                              mm
area                                      132462000.0
Name: 98367, dtype: object